/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  background-image: url('C:\Users\Kn994\my-react-app\src\laptop.jpg');
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: cadetblue ;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  width: 150px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}

.find-tutor-btn {
  background-color: #ff007a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

/* Hero Section Styles */
.hero-section {
  height: 100vh;
  background-image: url('C:\Users\Kn994\my-react-app\src\bg-04-free-img.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.hero-section h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.5rem;
  font-weight: bold;
}
